[2015-09-08 21:04] BHSPitMonkey opened #2 "Add ux_version parameter"
`ux_version` is a new optional parameter that can be set to either 1 or 2 (integer). The following endpoints need a way of passing it:

* GET /signature_request/[:signature_request_id]
* GET /signature_request/list
* POST /signature_request/send
* POST /signature_request/send_with_template
* POST /signature_request/create_embedded
* POST /signature_request/create_embedded_with_template

[2015-09-08 21:07] BHSPitMonkey opened #3 "Embedded Templates functionality"

[2015-09-08 21:07] BHSPitMonkey opened #4 "Embedded Requesting functionality"

[2015-09-08 21:07] BHSPitMonkey opened #5 "Embedded Signing functionality"

[2015-11-02 18:25] radhack opened #6 "Support argument 'name' with /signature_request/remind/[:signature_request_id]"
Allow for the argument 'name' to be supported when hitting /signature_request/remind/[:signature_request_id]

[2016-01-25 13:41] dwhittlesey opened #7 "cannot connect"
I have the api key installed and am using the demo I pulled off Git.  I keep getting the following error:

{"No connection could be made because the target machine actively refused it 184.168.221.47:443"}

stack trace  =  at System.Net.HttpWebRequest.GetResponse()
   at RestSharp.Http.GetRawResponse(HttpWebRequest request)
   at RestSharp.Http.GetResponse(HttpWebRequest request)

[2016-01-29 18:47] rmelencio opened #8 "Add Editable Merge Fields support"
When updating the SDKs to include editable merge fields, please also update the SDK git repos README examples (if necessary) and the following in the API docs:
- "Send with Template" endpoint example
- "Send Embedded Signature Request with Template" endpoint example
- Templates Walkthrough
- Signature Request Walkthrough -> Using Templates

[2016-02-04 10:18] jordanwallwork opened #9 "Allow setting client id for non-embedded signature requests"
I need to be able to create signature requests where the user signs the document through your website, but the endpoint notified of any views/signs etc is an individual client app. Currently you can only get app callbacks by calling `CreateEmbeddedSignatureRequest`

[2016-02-04 16:07] jmithy commented on #6
Hello,

Could you let me know an expected completion date ?

[2016-02-04 19:41] BHSPitMonkey commented on #6
This has been fixed; Apologies for the long wait.

You can download a new build here: https://github.com/HelloFax/hellosign-dotnet-sdk/releases

[2016-02-04 19:41] #6 closed, assigned to nobody

[2016-02-04 19:55] BHSPitMonkey commented on #7
Hi @dwhittlesey,

The HelloSignTestApp program defaults to our internal "staging" environment, which is probably what is happening in your case. If you specify "prod" as the first argument when running the program, it will connect to api.hellosign.com instead. Sorry for the confusion.

So, running the program should look something like:

[code]

[2016-02-04 19:55] #7 closed, assigned to nobody

[2016-02-04 20:20] BHSPitMonkey commented on #9
Thanks for pointing this out; The current implementation came before we began supporting this on the backend. I'll take a look at your changes when I have some time.

[2016-02-23 16:09] jordanwallwork opened #11 "SignatureRequest form_fields_per_document parameter missing"
Need to implement form_fields_per_document to allow specifying signature fields on documents

[2016-03-08 22:51] #9 closed, assigned to BHSPitMonkey

[2016-03-08 22:56] BHSPitMonkey commented on #9
This is now supported via an optional parameter:

[code]

[2016-03-10 00:12] johnnycupcakes opened #13 "Test issue for Ronald"
Test

[2016-03-10 01:09] #13 closed, assigned to nobody

[2016-03-10 01:09] johnnycupcakes opened #14 "Test issue for Ronald"
Test

[2016-03-10 01:19] #14 closed, assigned to nobody

[2016-03-11 02:05] BHSPitMonkey commented on #11
Fixed: https://github.com/HelloFax/hellosign-dotnet-sdk/releases/tag/v0.3.0.0

[2016-03-11 02:05] #11 closed, assigned to nobody

[2016-04-15 22:53] johnnycupcakes opened #15 "Allow for multiple template IDs in C# SDK TemplateSignatureRequest"
Does the C# SDK support passing in multiple Template IDs on the TemplateSignatureRequest object that you pass into CreateEmbeddedSignatureRequest?

It seems as though TemplateSignatureRequest.TemplateId is just a string.

If not, is there any other easy way to do this. I am doing everything right now using the C# SDK.

[2016-04-19 21:35] BHSPitMonkey commented on #15
This is now supported. See release notes for release 0.4 here:

https://github.com/HelloFax/hellosign-dotnet-sdk/releases/tag/v0.4.0.0

[2016-04-19 21:35] #15 closed, assigned to nobody

[2016-04-27 05:16] BHSPitMonkey opened #16 "Support .NET Framework 3.5"

[2016-04-27 05:22] BHSPitMonkey commented on #16
Attached is an experimental build with .NET 3.5 as the build target. Some tweaks were made to abandon some .NET 4.x features. The changes can be seen in commit 8b3c810.

[hellosign-dotnet35-test.zip](https://github.com/HelloFax/hellosign-dotnet-sdk/files/237964/hellosign-dotnet35-test.zip)

Testing welcome!

[2016-04-28 00:28] renderf0x commented on #16
Awesome, thanks @BHSPitMonkey -- I think this has been sent along.

[2016-04-28 16:09] radhack opened #17 "It would be useful if the SDK were available as a NuGet package"
Are there any plans for this to happen in the near future? If not, would it be okay for me to add it to our private NuGet feed as a temporary measure?

[2016-04-29 22:37] BHSPitMonkey commented on #17
Definitely planned. I'm not completely aware of the implications of adding it to your private feed, but if it's private / local to your organization then I don't see why not!

[2016-05-02 22:38] BHSPitMonkey commented on #2
No longer relevant

[2016-05-02 22:38] #2 closed

[2016-05-04 19:33] BHSPitMonkey opened #18 "Add support for white label options to ApiApp"

[2016-05-23 15:57] xt0rted commented on #17
This is available on NuGet now https://www.nuget.org/packages/HelloSign/

[2016-05-23 18:20] BHSPitMonkey commented on #17
Indeed it is! Apologies for forgetting to close the issue and notify you.

[2016-05-23 18:20] #17 closed, assigned to nobody

[2016-05-24 19:14] BHSPitMonkey opened #19 "Make all AddFile methods return FileSignatureRequestBuilder object"
Currently you can only use `WithFields` with the version of `AddFile` which accepts a byte array. We need to update the other `AddFile` versions to do this as well.

[2016-05-25 21:04] xt0rted opened #20 "Are there any plans to add async support?"
The project I'm working on has a custom implementation using `HttpClient` and is all async. I'd like to switch over to this instead but without async support I can't.

[2016-06-13 22:39] jhstrateng opened #21 "Add Document Model and Documents list to Template Model"
The SDK does not include an implementation for the Document Model nor its corresponding Form Fields. Our company is evaluating purchasing a subscription to HelloSign. One of the features we are looking for is the ability to use Form Fields pulled from a Template object, but sent with varying PDFs. Similar to the scenario described on the developer site, Template Walkthroughs, titled, "Using Files

[2016-06-17 17:14] johnnycupcakes opened #22 "Please add the get_url functionality for the GET files endpoint"
For the
GET /signature_request/files/[:signature_request_id] endpoint under the section “Obtain a copy of the current documents specified by the signature_request_id parameter.”

There is an optional parameter “get_url”. That is the functionality that I would like, but I don’t think this version of the sdk supports it.

[2016-06-22 22:10] BHSPitMonkey commented on #16
This landed in 0.5.1.

[2016-06-22 22:10] #16 closed, assigned to nobody

[2016-06-22 22:16] BHSPitMonkey commented on #20
There are no plans for this currently, but I think you should be able to wrap calls to this client in async functions pretty easily.

[2016-06-22 22:16] #20 closed, assigned to nobody

[2016-06-22 23:01] BHSPitMonkey commented on #21
@jhstrateng - I just pushed out a new release (0.5.2.0) to NuGet and our GitHub Releases page. Please reopen this issue if it doesn't meet your needs.

The following code should now be usable:

[code]

[2016-06-22 23:01] #21 closed, assigned to nobody

[2016-06-27 17:23] radhack opened #23 "add GET /signature_request/[:signature_request_id] instructions"
Users need to get the signature request object to extract data (like response_data), and adding some instruction around that to the readme would be helpful.

[2016-07-15 16:37] radhack opened #24 "Add support for FormFields"
If you're using embedded templates and offering merge_fields, the only way to see which merge_fields the sender actually chose to include is to extract the form_fields from the template object.

[2016-07-19 16:26] radhack opened #25 "Add GET /template/files functionality"
Add support for the GET /template/files endpoint to download template files.

[2016-07-25 18:56] #19 closed, assigned to nobody

[2016-07-25 18:56] #22 closed, assigned to nobody

[2016-07-25 18:56] #23 closed, assigned to nobody

[2016-07-25 18:56] #25 closed, assigned to nobody

[2016-07-25 18:57] BHSPitMonkey commented on #24
Can you elaborate on this, @radhack?

[2016-08-11 14:14] radhack opened #26 "Add support for the /update endpoint"
Support the POST /signature_request/update endpoint and the posible parameters.

[2016-09-05 01:15] rich-jobadder opened #27 "client.AddMemberToTeam fails with MethodNotAllowedException"
When trying to call AddMemberToTeam, it looks like internally it's trying to use GET rather than POST.

Error Received:

HelloSign.MethodNotAllowedException: GET is not supported for this URI

[2016-09-05 02:37] rich-jobadder commented on #27
ditto with client.AddAccountToTemplate

[2016-09-14 15:31] iamadamreed commented on #26
If this could please be implemented as soon as possible, it is greatly needed.

[2016-09-22 18:34] iamadamreed commented on #26
Could we get a Milestone on this?

[2016-10-13 21:48] desmondw opened #28 "Add support for Decline to Sign"
The following changes have been made to the API:
- There is a new parameter allow_decline for declining to sign signature requests
- There is a new API status_code for declined requests
- There is a new API variable is_declined on SignatureRequest objects
- There is a new API variable decline_reason on Signature objects

[2016-10-20 17:17] alexmac05 opened #29 "Add support for editing custom fields on the TemplateSignatureRequest"
CHANGE FROM:
 var request = new TemplateSignatureRequest();
 request.AddTemplate(template_withBasicCustomFields);
 request.Subject = "Template test";
 request.Message = "Template message";
 request.AddSigner("Client", "george@example.com", "George");
 request.AddCustomField("newline", "$20,000");
 request.TestMode = true;

CHANGE TO:
Being able to support the parameters Editor and Required also in

[2017-02-07 22:31] morquan opened #32 "Target NETStandard"
Greetings! I'm evaluating integrating Hellosign into a new solution. Are there plans to target NETStandard to support those of us running on .NET Core?

[2017-02-08 21:34] alexmac05 opened #33 "HelloSignTestApp/Program.cs defaults to staging and not production"
https://github.com/HelloFax/hellosign-dotnet-sdk/blob/v3/HelloSignTestApp/Program.cs

this defaults to staging and not production

and this results in an authorization error which confuses users.

[2017-02-16 04:12] alexmac05 opened #34 "Make merge fields optional for the create_embedded_template_draft"
https://app.hellosign.com/api/reference#create_embedded_template_draft

The C# Sample code from the above endpoint if the following two lines are removed results in an exception.
Merge field is missing "name" parameter

If these lines are removed, the exception is thrown:
//draft.AddMergeField("Full Name", MergeField.FieldType.Text);
//draft.AddMergeField("Is Registered?", MergeField.FieldType.Che

[2017-04-06 15:26] luricky commented on #32
Any plan on supporting .NET core?

[2017-04-06 15:35] morquan commented on #32
I've been told they have no plans. I did find this unofficial implementation: https://github.com/soukoku/HelloSignApi

[2017-04-06 16:00] luricky commented on #32
Thanks

[2017-04-18 10:43] tommy5dollar opened #35 "Add support for Allow Reassign"
[HelloSign added the ability for Signer Reassignment in March 2017](http://blog.hellosign.com/signer-reassignment-removes-frustrating-roadblocks/)

Could this please be implemented in the API? It should be as simple as adding a new boolean called `allow_reassign` to the Signature Request, in the style of `allow_decline`.

[2017-04-21 08:45] pkadloor opened #37 "I need to change the custom branding in c# SDK"
Using Embedded Signing, I am creating a template programatically.  I dont see any option to update or add custom branding.  Is there a method missing?  or am I missing something.  Please tell me how to change custom logo.
Thanks

[2017-04-25 10:12] tommy5dollar commented on #35
I submitted a [pull request](https://github.com/HelloFax/hellosign-dotnet-sdk/pull/36) a week ago, could somebody merge this in, please?

[2017-04-25 17:45] alexmac05 commented on #37
Hi, this is more of a general API question, as I see it right now. I will answer you from apisupport@hellosign.com as I do not think this question is specifically in regards to the C# SDK, but rather the API in general. For general questions, please reach out anytime at apisupport@hellosign.com

[2017-04-25 18:37] alexmac05 commented on #37
Sorry, I believe I misunderstood this. You are reporting that the C# SDK does not have the endpoints to update custom branding. I will look into this and verify this and report back. Thank you for reporting this here.

[2017-04-26 00:20] alexmac05 commented on #37
I do not see an updateApiApp method.

[2017-05-11 21:24] BHSPitMonkey commented on #35
Apologies for the delay in responding to this! Because the PR exists, I'll go ahead and close this Issue and continue this discussion on #36.

[2017-05-11 21:24] #35 closed, assigned to nobody

[2017-05-31 23:46] unnijeevan opened #38 "Add support for allow decline in CreateUnclaimedDraft"
The function UnclaimedDraft _CreateUnclaimedDraft is missing
    if (signatureRequest.AllowDecline) request.AddParameter("allow_decline", "1");

The endpoint supports allow_decline
https://app.hellosign.com/api/reference#create_unclaimed_draft

[2017-06-21 19:08] radhack opened #39 "include AddFile() in TemplateSignatureRequest"
TemplateSignatureRequest should include the ability to add appended files (or file_urls).

[2017-07-01 22:36] alexmac05 opened #40 "Unclaimed Draft response object missing signatureRequestID"
The UnclaimedDraft response object is missing the signatureRequestId parameter in the C# SDK.
https://app.hellosign.com/api/reference#UnclaimedDraft

var request = new SignatureRequest();
request.AddFile(@"/Users/userid/NDA.pdf");
request.TestMode = true;
var response = client.CreateUnclaimedDraft(request, UnclaimedDraft.Type.SendDocument);
// Console.WriteLine(response.SignatureRequestId);

Worka

[2017-08-13 00:33] alexmac05 opened #41 "oAuth functionality needs to be added"
The ability to pass oAuth creds through the C# sdk should be added. Currently does not support oAuth.

[2017-09-08 19:11] HapHazard1 opened #42 "Update HelloSign.nuspec with actual range of allowed dependencies"
You currently have just a single version number for your dependencies (Newtonsoft.Json and RestSharp).  This forces versions of these dependencies to be at least that version.  Instead you should specify the range of allowed versions e.g. "<dependency id="Newtonsoft.Json" version="[6.0.0,10.0.0)" />".  We are using HelloSign 0.5.5. with Newtonsoft.Json version 6.0.3 without problems but we have to

[2017-10-04 12:54] MsMargo opened #43 "GetEmbeddedTemplateEditUrl with skipSignerRoles and skipSubjectMessage true"
Hi,

HelloSignClient#getEmbeddedTemplateEditUrl(String templateId, boolean skipSignerRoles, boolean skipSubjectMessage) with both skipSignerRoles and skipSubjectMessage set to true doesn't seem to work.
Currently skipSignerRoles workes, but skipSubjectMessage not - if it set to true then step with SubjectMessage appears. Could you please fix it?

Thanks

[2017-10-05 06:05] alexmac05 opened #44 "Implement template/update_files/"
Please implement the POST https://[api key]:@api.hellosign.com/v3/template/update_files/[:template_id]

[2017-12-22 00:39] quanlee commented on #28
allow_decline has been added
https://github.com/HelloFax/hellosign-dotnet-sdk/commit/e32d0fd039dae3dd5f7852d3470b4bdd4811c5cb

[2018-01-23 16:06] alexmac05 commented on #32
At HelloSign, we do agree that this would definitely be nice to have. The current obstacle is that the SDK is based on the RestSharp framework, which isn't fully compatible with .NET Core.

Do you two happen to know of a version/fork of RestSharp that is compatible with .NET Core? If so, let us know. That is the holdup.

Thank you!

[2018-01-23 16:25] alexmac05 commented on #43
Hi MsMargo. Is this still an issue for you? Can you write me at apisupport@hellosign.com to discuss?

[2018-01-23 16:28] alexmac05 commented on #42
Hi HapHazard1, I take it this is still an issue for you. Can you write me at apisupport@hellosign.com? We are looking into these issues and will soon start to address them. Thank you.
Cheers,
Alex M.
internal issue number AS-51

[2018-01-23 16:40] luricky commented on #32
Seems like RestSharp just updated version 106.1.0 to support .net core 2.0

Ricky Lu

[2018-01-23 16:44] MsMargo commented on #43
Hello Alex!
Thank you for the reply.
Unfortunately,  as of now, I don't work at that company. But I believe that
they still need this feature. Please contact Anton Shabinskiy (I will also
send your message him)

On Tue, Jan 23, 2018 at 6:25 PM, Alex McFerron <notifications@github.com>
wrote:

--
Best regards,

Margo Kuian

[2018-01-23 16:55] alexmac05 commented on #43
What company? Thank you MsMargo. I really appreciate your help. You can email me at apisupport@hellosign.com if you do not want to post it here.

[2018-01-23 17:27] alexmac05 commented on #43
internal issue number AS-50

[2018-01-23 17:49] alexmac05 commented on #38
Hi Jeevan,

I have reached out to you from apisupport@hellosign.com to see if this is still important to you.

Thank you. Cheers,
alex m
internal issue number as-52

[2018-01-23 17:50] alexmac05 commented on #37
internal issue number as-49 at apisupport@hellosign.com

[2018-01-23 18:44] alexmac05 commented on #32
If you all had to choose a priority level for this request, could you let me know where you all are at with this one?

1. Deal Breaker
2. An important enhancement for us
3. Nice to have but not top of mind
4. We have already found a workaround and no longer are concerned with this

Thank you,
alex m.
internal tracking number AS-54

[2018-01-23 18:53] alexmac05 commented on #27
Hi Rich,

We are looking at prioritizing these SDK issues, is this still important to you?
Could you pick one of these priorities?
1. Deal Breaker
2. An important enhancement for us
3. Nice to have but not top of mind
4. We have already found a workaround and no longer are concerned with this

Thank you!
Alex M.
apisupport@hellosign.com
internal issue as-44

[2018-01-25 20:55] alexmac05 opened #47 "Add in the C# SDK the editor parameter for custom fields (Workaround documented here)"
Add in the C# SDK the editor parameter for custom fields (Workaround documented here)

For signature requests that send the request using a template:
v3/signature_request/send_with_template is one example

The API Supports making an editable custom field

https://faq.hellosign.com/hc/en-us/articles/216599897-How-do-I-use-Editable-Merge-Fields-aka-Custom-Fields-

in the case where there is only one

[2018-01-26 02:44] alexmac05 commented on #47
internal issue number AS-58

[2018-02-02 16:13] pheuter commented on #32
2.

Looking for an e-signature solution to get started with ASAP for our startup, coming down to Docusign vs HelloSign. Docusign is currently lagging on their .netstandard2.0 support. If this could be made available we'll likely go with HelloSign.

[2018-02-26 17:43] drweb86-work opened #48 "Add Ability to Specify Page of Document for Custom Fields"
Hello

It would be nice if i could specify page number of document where to put custom field on.

Thanks

[2018-02-26 19:56] radhack commented on #48
Hi @drweb86-work - could you clarify your suggestion? customFields are fields that are already placed on HelloSign templates, so I'm a little confused about how or where you'd specify a page number for them.

Are you maybe talking about formFieldsPerDocument? If that's the case, you can add the page to the json array:

[code]

[2018-03-14 19:57] radhack commented on #48
@drweb86-work just circling back around to get clarification. Let us know what the use case is or if it was indeed form_fields_per_document that you were thinking of and we'll go from there.

[2018-05-04 00:53] alexmac05 opened #49 "Signer Attachments"
Add attachment parameters when sending a signature request

[2018-06-14 07:01] genne commented on #32
Any updates on this? We're trying to migrate our solution to .NET Core, but are currently blocked by this.

[2018-06-25 09:48] shakeelsadiq opened #51 "Could not load type 'HelloSign.Client'"
I have created a new MVC application targeting .Net 4.7.1 and added the HelloSign NuGet package v0.5.7.  On running the application I get:

Could not load type 'HelloSign.Client' from assembly 'HelloSign, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null'

[2018-06-25 12:39] shakeelsadiq commented on #51
Just as a note; I have used RestSharp and consumed the HelloSign API directly without the Client and that works fine as expected.

[2018-08-08 16:22] latoyazamill opened #53 "Add in the C# SDK the required parameter for custom fields (Workaround from a customer documented here)"
Add in the C# SDK the required parameter for custom fields (Workaround from a customer documented here)

For signature requests that send the request using a template:
v3/signature_request/send_with_template is one example

The API Supports making an editable custom field with a required requirement

This issue is to request the ability to add the required parameter to the SDK. This is only requir

[2018-08-08 23:52] johnnycupcakes opened #54 "Ability to use custom fields when using form fields per document."
Please add the ability to use custom fields when using form fields per document.

/signature_request/send
/signature_request/create_embedded

[2018-11-01 18:57] mrkoggles opened #55 "Strongly name the assembly"
RestSharp dependency needs to be updated to signed version.
Add .snk file and update .csproj file to sign.

[2018-11-01 19:13] mrkoggles commented on #55
pull request link: https://github.com/hellosign/hellosign-dotnet-sdk/pull/56/files

[2018-12-04 17:21] THammond9 commented on #32
Are there any updates for this?

[2018-12-12 21:15] Framinus opened #58 "Signature class is missing Error property"
The HelloSign .net SDK Signature class is missing the Error property - is it supposed to be the DeclineReason property instead of Error? I assume the text in the 'error' tag should be deserialized into the DeclineReason property?

The value from 'error' is not being deserialized into the object (probably due to the name mismatch).

[2018-12-13 17:21] rmedcalf opened #59 "Custom fields for text tags"
I'm trying to use a text tag with a preset value

In the document I have
[text-merge|req|sender|client_name|client_name]

in the C# SDK I do not see an AddCustomField method on the SignatureRequest object like I do with TemplateSignatureRequest

Instead I'm adding the fields to the CustomFields List

request.CustomFields.Add(new CustomField { Name = "client_name", Value = "My Test", ApiId = "clien

[2018-12-26 14:59] latoyazamill opened #60 "Add in client requester_email_address parameter for non-embedded signing"
Add in client requester_email_address parameter for non-embedded signing

[2019-01-02 18:54] Framinus opened #61 "Adding signing_options feature to all signature request endpoints."
Adding the signing_options parameter to all non-embedded and embedded signature request endpoints.

ie:
signing_options = {"draw": true, "type": true, "upload": true, "phone": false, "default": "draw"}

[2019-01-07 23:22] Framinus commented on #41
Raw HTTP request calls using the [RestSharp](restsharp.org) library:

To retrieve the OAuth Token (the state and code are returned from your authorization url, and the api key from your account):

`static void RetrieveOAuthToken(string apiKey, string code, string state) {
            var key = apiKey;
            var httpClient = new RestClient("https://app.hellosign.com");
            httpClient.

[2019-01-09 19:29] jyoung488 commented on #29
closing - duplicate of #47

[2019-01-09 19:29] #29 closed, assigned to nobody

[2019-01-09 19:34] jyoung488 commented on #54
closing - duplicate of #59

[2019-01-09 19:34] #54 closed, assigned to nobody

[2019-01-09 19:35] #48 closed, assigned to nobody

[2019-01-09 19:38] #28 closed, assigned to nobody

[2019-01-09 21:05] jyoung488 commented on #8
closing - duplicated by #47

[2019-01-09 21:05] #8 closed, assigned to nobody

[2019-01-24 07:17] BHSPitMonkey commented on #51
I'm sorry to see that, and double sorry for not responding to this sooner! I haven't heard of similar reports and can't currently reproduce this problem myself, so I'm going to mark this issue closed for the time being; If this is still a problem for you, please reopen and attach any relevant code or project files you can share to help us figure out what could be the cause.

[2019-01-24 07:17] #51 closed, assigned to nobody

[2019-01-24 07:27] BHSPitMonkey opened #63 "Provide a Strong-Named Assembly"
https://docs.microsoft.com/en-us/dotnet/framework/app-domains/strong-named-assemblies

[2019-01-24 07:52] BHSPitMonkey commented on #32
Update: Apologies for the long wait times involved in making this happen, but this is nearly finished and we'll be publishing a new release soon that will target .NET Standard 2.0 and .NET Framework 4.5.2! Will update and close this issue once it's available.

[2019-01-24 08:08] BHSPitMonkey commented on #33
The TestApp project isn't really intended to be built or executed by users outside of this SDK's maintainers/contributors; In the future this will hopefully be replaced by a proper test suite that isn't dependent on the backend at all. As such, I think this can slide for now!

[2019-01-24 08:08] #33 closed, assigned to nobody

[2019-01-25 00:40] #58 closed, assigned to BHSPitMonkey

[2019-01-25 00:40] #61 closed, assigned to BHSPitMonkey

[2019-01-25 03:22] BHSPitMonkey commented on #58
This is fixed as of v0.5.9! Thanks again for the report.

[2019-01-25 03:25] BHSPitMonkey commented on #61
This is now supported as of v0.5.9! Here's how to use it:

[code]

Thanks again for the report!

[2019-01-25 05:45] BHSPitMonkey commented on #63
Oops, closing because this duplicates #55!

[2019-01-25 05:45] #63 closed, assigned to nobody

[2019-01-25 07:01] BHSPitMonkey commented on #47
This will be included with #53

[2019-01-25 07:01] #47 closed, assigned to nobody

[2019-01-25 07:13] BHSPitMonkey commented on #26
Sincere apologies for the lack of updates here! This was added in January 2017 with version 0.5.5.

[2019-01-25 07:13] #26 closed, assigned to nobody

[2019-01-26 01:35] nsimeonov opened #65 "TLS 1.0"
Probably a lame question, but better safe than sorry.

Related to disabling TLS 1.0 on Jan 31, for a .Net MVC app using HelloSign NuGet package (0.5.5 is what I see installed currently), do we need to change anything or upgrading to latest version is enough? I see the app is targeting .net framework 4.5.2, which supports TLS 1.2

I saw recommendations to add code to app startup: https://stackoverf

[2019-01-26 09:44] BHSPitMonkey commented on #65
Not lame at all!

My own research mirrors what you see in that StackOverflow answer, and so I'm under the impression that as long as _your application_ targets .NET Framework 4.0 or above you will be able to use that workaround (or if you target 4.5.2 and higher, I think it will try to do the right thing out of the box). I haven't been able to do much testing in this area, so I can't say whether t

[2019-01-26 09:44] #65 closed, assigned to nobody

[2019-01-28 19:21] #53 closed, assigned to BHSPitMonkey

[2019-01-28 19:21] #27 closed, assigned to BHSPitMonkey

[2019-01-28 19:21] #34 closed, assigned to BHSPitMonkey

[2019-01-28 19:21] #38 closed, assigned to BHSPitMonkey

[2019-01-28 19:21] #40 closed, assigned to BHSPitMonkey

[2019-01-28 19:21] #60 closed, assigned to BHSPitMonkey

[2019-01-29 00:58] #42 closed, assigned to BHSPitMonkey

[2019-01-29 19:19] BHSPitMonkey commented on #32
This is now supported as of v1.0.0! Take a look at the [Releases page](https://github.com/hellosign/hellosign-dotnet-sdk/releases) for all the details. Thanks for everyone's input and patience on this!

[2019-01-29 19:19] #32 closed, assigned to BHSPitMonkey

[2019-02-01 23:09] Patman0021 opened #67 "Maximum RestSharp Package Version"
Is there a reason why the maximum version of RestSharp is 106.5.4?

I understand that this was requested in https://github.com/hellosign/hellosign-dotnet-sdk/issues/42#issue-256345468 but this is causing issues with the HelloSign package not allowing me to use the latest RestSharp version.

[2019-02-02 04:58] BHSPitMonkey commented on #67
Hi! Versions 106.6.* of RestSharp make some big backwards-incompatible changes, particularly having to do with JSON (de)serialization, which don't work with the current codebase. Based on the project's current [note about JSON serialization](https://github.com/restsharp/RestSharp/tree/e2d0bfd99de7aa5651d713e48d728d342195877d#note-on-json-serialization), it might be easier to update to version 107

[2019-02-02 04:58] #67 closed, assigned to nobody

[2019-02-11 22:03] nsimeonov commented on #65
One of our systems just stopped. It was compiled using .net framework 4.5.2, but we were getting errors. I quickly hacked it by adding this to Global.asax to get it back up and running.

[code]

This works, but feels like using a big hammer, when we should use a screwdriver...

[2019-02-19 05:34] alexmac05 commented on #44
POST https://[api key]:@api.hellosign.com/v3/template/update_files/[:template_id]

Internal reference number 368984
Requested by customer on 2-18-19

[2019-02-19 05:49] alexmac05 commented on #44
workaround using the restsharp request library

try
{
var hslogin = "HelloSign account here";
var hspassword = "password";
var apiKey = "API KEY HERE";

var restClient = new RestClient();

string buildTheRequest = "https://" + apiKey + ":@api.hellosign.com";
Console.WriteLine(buildTheRequest);

restClient.BaseUrl = new Uri(buildTheRequest);
restClient.Authenticator = new HttpBasicAuthenticator(hsl

[2019-02-19 19:00] Framinus opened #68 "AddCustomField throws an error when required and editor parameters are not explicitly passed."
The AddCustomField is supposed to have two mandatory parameters - name and value - and two optional parameters, "editor" and "required".

When only the "name" and "value" parameters are passed into AddCustomField, the following error gets thrown:

Unhandled Exception: HelloSign.BadRequestException: custom_fields with a required parameter must specify an editor parameter.

I think this may have to

[2019-02-20 17:05] Framinus opened #70 "The Update API App endpoint is missing"
There are currently SDK methods to create a new app, list all apps and delete an app, but you cannot currently update app settings.

[2019-02-20 17:07] Framinus commented on #70
Here is a workaround using the RestSharp request library to update white_labeling_options:

[code]

[2019-03-06 00:36] djschwarz commented on #68
I am getting the same behavior.

[2019-03-06 13:30] djschwarz commented on #68
I added "Me" as a signer and I no longer get the error message.

[2019-03-19 15:29] Framinus commented on #49
This is a workaround using the RestSharp request library:

[code]

[2019-05-07 17:54] janetanne opened #73 "Add support to query signature requests list"
Add the ability to use the "query" parameter for ListSignatureRequests requests.

*Workaround:*
You can use a requests library to build a raw HTTP request and send it through like that. An example using RestSharp:
[code]

Related ticket number: 386925
Internal reference number: 10330

[2019-05-07 22:55] #55 closed, assigned to nobody

[2019-05-07 23:00] BHSPitMonkey commented on #55
This has been shipped in version 1.3.0. Thanks for your report and pull request, and please let us know if you encounter any issues!

[2019-07-25 18:44] cdfulda commented on #59
Any update on this? I'm running into the same issue.

[2019-07-25 21:55] Framinus commented on #59
I am creating an internal ticket to get this looked at. In the meantime, here is an example workaround using the catchall AdditionalParameters.Add() method. The AdditionalParameters.Add() method allows you to add any parameter that the API supports for an endpoint. It takes two arguments - the name of the parameter (which is "custom_fields" in this case) and a value, which is equal to a stringifie

[2019-08-13 19:34] carter-musick opened #74 "Add custom logo param to api app create method"
It looks like you can't include a custom logo (the additionalParameters property only accepts strings)

[2019-09-06 10:03] rajmoodaley opened #75 "Add support for signing groups"
Please add support for this feature in the API that was release 1 year ago

Allows a sender to send a signature request to a group of individuals any of whom can claim and sign the signature request.

[2019-09-09 21:38] janetanne opened #76 "Update test app apiHost endpoint"
Update:
`string apiHost = "api.staging-hellosign.com";
Console.WriteLine("Using HelloSign API at host: " + apiHost);`

to

`string apiHost = "app.hellosign.com";
Console.WriteLine("Using HelloSign API at host: " + apiHost);`

(Internal reference number: 412112)

[2019-09-18 17:18] algorozco opened #77 "Update RestSharp library version"
We have a dependency in our project that requires version 106.6.10 of RestSharp, but this SDK has a dependency on max v106.5.4.

IRN 414747

[2019-10-01 17:45] quanlee commented on #39
I need this feature, will implement today

[2019-11-25 22:31] johnnycupcakes opened #78 "Add the ability to send a file with templates when using /unclaimed_draft/create_embedded_with_template"
Please add the ability to send a file with templates when using /unclaimed_draft/create_embedded_with_template. Thank you.

[2019-11-26 17:49] johnnycupcakes commented on #78
shown in the image below

![image (1)](https://user-images.githubusercontent.com/11359253/69658931-0403f980-1032-11ea-9755-21b6be882517.png)

[2019-12-13 01:48] janetanne commented on #76
Adding another comment as another customer ran into this issue as well.

Internal reference number: 431554

[2020-02-03 18:00] hazemhamedhs commented on #77
Hi Ana,

Thank you for flagging that out.

We have tagged the engineering team that is working on our SKD to be aware of this ask and act accordingly.

Please feel free to get in touch with any other technical questions that come to mind.

[2020-02-03 18:06] alexmac05 commented on #77
Hi Ana,

I will look into adding more up to date restsharp versions as they come out to our potential maintenance list. Thank you for bringing that up. Honestly, you are the first customer to bring this up as something we should consider doing. I'll look into it for our maint. plan for 2020. I am sorry I can't change it quickly enough for your project, but we can look into doing this and also addi

[2020-02-03 18:24] alexmac05 commented on #77
Hi Ana,

We are waiting for another version of RestSharp, which we explain in another comment. Sorry about this inconvenience. Sorry for this.

https://github.com/hellosign/hellosign-dotnet-sdk/issues/67#issuecomment-459935829

[2020-02-26 06:15] Sora2455 opened #80 "Add an DownloadSignatureRequestFilesAsync method"
An async version of DownloadSignatureRequestFiles would mean that servers can take advantage of C# async/await functionality instead of "Busy waiting" on the API.

Actually, async versions of all of the API endpoints would be fantastic, but that one in particular would help a ton (as it usually takes multiple seconds to run).

[2020-04-08 19:19] janetanne opened #81 "Add support to query templates list"
Add the ability to use the "query" parameter for ListTemplates method.

(Internal reference number: 10500349)

[2020-05-19 14:27] hazemhamedhs opened #82 "Ability to pass a string in "signer" key with FormFieldsPerDocument"
Currently, the parameter **FormFieldsPerDocument** only takes **int** value for "**signer**" key. Due to that, you can not set up the FormFieldsPerDocument parameter to the sender to allow the sender to pass a non-editable pre-set values.

[The documentation states:
](https://app.hellosign.com/api/reference#send_signature_request)
signer - (int | string) signer index identified by the offset %i% i

[2020-05-20 18:19] #41 closed, assigned to nobody

[2020-05-20 23:45] BHSPitMonkey commented on #76
As of v1.4.0, HelloSignTestApp now accepts the target host via a (required) `APIHOST` environment variable (similar to how `APIKEY` is passed in).

This is now documented here: [tests/HelloSignTestApp/README.md](https://github.com/hellosign/hellosign-dotnet-sdk/blob/v3/tests/HelloSignTestApp/README.md)

[2020-05-20 23:45] #76 closed, assigned to nobody

[2020-05-23 00:22] #5 closed

[2020-05-23 00:22] #4 closed

[2020-05-23 00:22] #3 closed

[2020-06-01 23:28] janetanne opened #89 "Add support for field_options"
Add the ability to add field_options (date format) to all Signature Request methods.

Should be able to do either:
[code]

OR use the AdditionalParameters.Add()
[code]

(Internal reference number: 10744067)

[2020-07-17 18:08] janetanne opened #90 "Add createdAt property to Signature Request object"
When using `GetSignatureRequest()`, there is currently no createdAt property in the response that is parallel to created_at in the API response.

If you look at the BaseSignatureRequest model you can confirm this: https://github.com/hellosign/hellosign-dotnet-sdk/blob/v3/src/HelloSign/Models/BaseSignatureRequest.cs

The workaround would be to make a raw HTTP request to the endpoint as we have more

[2020-07-17 19:32] mattoosterbaan commented on #90
I have a pull request out there that takes care of this: PR #88

[2020-07-30 15:05] Mitaku716 commented on #77
Yea any news on this? Broke our app when we added this because even the dependencies you guys listed are incorrect. Basically had to go rework everything in our app just to accommodate HelloSign

[2020-07-30 18:47] janetanne commented on #77
Hi @Mitaku716:

Per this comment: https://github.com/hellosign/hellosign-dotnet-sdk/issues/67#issuecomment-459935829

We're waiting for a new version of RestSharp (likely 107) because of big backwards-incompatible changes, particularly having to do with JSON (de)serialization, which don't work with the current codebase.

Apologies for any inconvenience, but I'll make sure to follow up here with an

[2020-08-07 13:04] tmccurdy commented on #73
I've added this support locally (I guess I could have used the "AdditionalParameters" but this was easier).  However, searching doesn't work, my query looks like this "complete:false+AND+declined:false" and it fails all the time.  Is their online documentation just bogus?  Are there supposed to be "+" signs between the "AND/OR" conditions?

[2020-08-07 21:32] janetanne commented on #73
Hi @tmccurdy! I added in the workaround above. I believe my coworker Hazem also relayed the workaround to you. Hope that helps!

[2020-08-11 13:30] ctyar commented on #59
The SDK still has this issue but the workaround works
Also, remember to remove the `AdditionalParameter` from the client if you re-use the client for multiple calls

    client.AdditionalParameters.Remove("custom_fields");

[2020-10-21 22:50] erosiec opened #91 "unable to add form fields to an unclaimed draft"
Form fields are not recognized when used in a request to **/v3/unclaimed_draft/create**

The request does not fail, but when the document is opened using the claim URL, none of the specified fields appear on the document.

tested with:

[code]

[2020-10-27 00:57] algorozco opened #92 "Add "metadata" property to Template object"
The template object is missing the "metadata" property. Therefore, when using the GetTemplate() method, there is currently no metadata in the response.

[2020-10-27 09:19] erosiec opened #93 "Unable to use custom_regex validation on form fields"
'FormField' currently accepts a maximum of 10 arguments, resulting in an inability to pass in the 'validation_custom_regex' parameter for requests with 'custom_regex' set as the validation type.

Attempting to pass in 'validation_custom_regex' as an additional parameter through 'client.AdditionalParameters.Add()' throws an invalid parameter exception.

This blocks the ability to use 'custom_regex'

[2020-11-06 01:19] janetanne commented on #80
Hi @Sora2455! Thanks for the suggestion. Our team will look into it.

[2020-11-06 01:20] janetanne commented on #75
Thanks @rajmoodaley, we will look into this.

For now, you should be able to create a raw HTTP request using a requests library in order to use the parameter. I'll look into this and create a code sample for you.

[2020-11-06 01:22] janetanne commented on #39
Hi @radhack and @quanlee, thanks for letting us know. Our team will look into this and create an internal ticket to work on this.

[2020-11-06 01:22] janetanne commented on #74
Hi @carter-musick, thanks for letting us know. Our team will look into this and create an internal ticket. Thanks!

[2020-11-20 21:29] #93 closed, assigned to nobody

[2020-12-02 20:28] Patman0021 opened #95 "NuGet package is still 1.3.0 and the latest available is 1.4.0"
Could we get someone to update the Nuget package in Nuget?
GitHub:
[https://github.com/hellosign/hellosign-dotnet-sdk/releases](https://github.com/hellosign/hellosign-dotnet-sdk/releases)
NuGet:
[https://www.nuget.org/packages/HelloSign/](https://www.nuget.org/packages/HelloSign/)

[2020-12-04 19:41] mattoosterbaan commented on #95
I second this. I'd love to see my simple pull request get accepted and then a new Nuget package.

[2020-12-05 23:07] alexmac05 commented on #95
Yes, thank you for this. We will look into this next week.

[2020-12-06 22:12] erosiec commented on #95
**IR: 11797**

[2021-02-19 10:09] dzmitry-lahoda opened #99 "how to do field grouping?"
example?

[2021-03-03 20:24] meljason commented on #68
@djschwarz Hello, could you elaborate more on that? How do you add "me" as a signer?

[2021-03-04 23:11] ultramichey commented on #18
Submitted Code and it is Ready to be Reviewed https://github.com/hellosign/hellosign-dotnet-sdk/pull/100

[2021-03-04 23:14] ultramichey commented on #18
#100 https://github.com/hellosign/hellosign-dotnet-sdk/pull/100

[2021-03-04 23:15] ultramichey commented on #18
#100

[2021-03-05 13:22] djschwarz commented on #68
Hi Jason,

Here is the information I sent in to HelloSign when I reported the issue:

Hi James,

I was able to get it working. It seems I needed to add myself as a Signer
even though there wasn't anything for me to sign. Once I added myself as a
signer it worked as expected. You can close this ticket. Thanks.

Hi James,

I stripped down the original document, uploaded it with only one custom
field

[2021-03-25 23:51] Patman0021 commented on #95
So, latest release is now 1.5.0.  1.3.0 is still what's on nuget...

[2021-04-06 05:02] kennydust commented on #95
whats the backstory on why 1.5.0 isn't available on nuget?

[2021-05-13 20:15] chrisofspades opened #101 "IsForEmbeddedSigning field is false for every SignatureRequest"
When I get a `SignatureRequest` objects using `GetSignatureRequest()`, even ones that I know were made using embedded signing, the `IsForEmbeddedSigning` field is always false. A simple example:

[code]

Does this field do anything? Is there any way to tell if a request was embedded or not?

[2021-05-20 13:40] Phlank commented on #95
It looks like they simply haven't updated their API key for NuGet in their CI build process. This should be a simple fix, but who knows when it will get done. It doesn't look like this package is currently a high priority.

It's also possible that whoever was managing this package in NuGet left the company and didn't leave behind credentials to access it or transfer ownership of the NuGet package

[2021-07-23 18:21] GuitarGuy11 commented on #77
Hi, I have been evaluating security vulnerabilities in my company software and the dependency on RestSharp version 106.0.0 to 106.5.4 is recommended to be upgraded to 106.11.8 (106.12 is the most recent stable release).  Could you please provide an update on this?

**Vulnerability from Report:**
Filename: RestSharp.dll | Reference: CVE-2021-27293 | CVSS Score: 7.5 | Category: CWE-697 | RestSharp <

[2021-07-28 23:23] pauledrupt commented on #77
100% agree pretty sad this has not yet been actioned

[2021-08-12 23:59] aarifResaas commented on #95
Is there any progress @alexmac05 ?

[2021-08-13 00:12] aarifResaas commented on #77
It's been almost 2 years since the initial report.  I don't believe RestSharp will be releasing a 107.x anytime soon.

This limitation is preventing us from upgrading another dependency that has been deprecated for over 1 year.

[2021-08-17 02:50] code4funcies opened #105 "Text Tags Invalid Custom Fields"
Following the Documentation on how to use Text Tags the below code sends a successful request to the API but later on the API Dashboard it fails with error: Invalid custom field: hireDate
[code]
The Request throws the error: Invalid custom field: hireDate

This seems to be somewhat related to issue #59
where the suggested fix was to use this line of code
`client.AdditionalParameters.Add("custom_fi

[2021-08-17 04:55] #105 closed, assigned to nobody

[2021-08-17 04:57] code4funcies commented on #105
I found that the error is because the hireDate text tag in the pdf document is "text-merge" changing it to just "text" fixes the issue.

[2021-08-30 19:11] thefenry commented on #77
Any update on this? We do have some dependencies awaiting for us to upgrade to latest restsharp version.

[2021-09-02 18:10] andre-engelbrecht commented on #92
Wow, I'm sad to see this issues was reported just over a year ago, and I can verify that it's still present today.
I would really love for this to get fixed, but based on this I'm not going to hold my breath.

[2021-09-13 19:39] Patman0021 commented on #95
Ya alexmac05 is at Twilio now, no longer at HelloSign :\

[2021-09-22 00:01] elminson commented on #68
request.addSigner("email@gmail.com", "client_name", "Me"); // You are missing the last param on addSigner
request.AddCustomField('b0d6da_11',  doc.First, "Me");

you need to add the last param as signer and then use it in each AddCustomField

cc: @djschwarz

[2021-09-22 02:22] raedbadran commented on #68
I just started getting this error out of the blue today. Did HelloSign push changes today? Any help or insight is appreciated.

[2021-09-22 02:35] najens commented on #68
Just started getting this error today as well with a `php-sdk` at 3:21pm MDT, so there was likely a HelloSign API release today that started causing this to happen.

[2021-09-22 02:55] Framinus commented on #68
@raedbadran and @najens  - I no longer work at HelloSign. I would recommend opening a ticket with the API Support team. But yes, it looks like there was a release today: https://status.hellosign.com/#past-incidents

[2021-09-22 03:00] raedbadran commented on #68
@najens  and @Framinus Thank you very much. Was going a bit crazy over here.

Just opened a ticket. Will update here once I hear back from them. Have a wonderful night.

[2021-09-22 12:06] paaacman commented on #68
Has @najens said, we have the same with `hellosign-php-sdk`.
Apprently HelloSign API does not accept anymore `required` and `editor` as null in `custom_fields`.

It's working if you remove those null fields.

See https://github.com/hellosign/hellosign-php-sdk/issues/119

[2021-09-22 13:46] adamskinner commented on #68
Im getting the same error. Thanks paccman

[2021-09-22 15:24] justinstanley commented on #68
Same error here as well.

[2021-09-22 15:39] raedbadran commented on #68
fixed by removing the nulls. See @paaacman post. Thank you:)

[2021-09-22 15:45] justinhorner commented on #68
How are you removing the nulls?  Are you sending the data as JSON or as the c# TemplateSignatureRequest class?

[2021-09-22 15:53] justinstanley commented on #68
I only have one signer and they should not be able to edit the custom field, so that route doesn't work for me. I also tried to set "required: false" below but I still receive the same error.

`var client = new Client(_apiKey);
var request = new TemplateSignatureRequest();
request.AddTemplate(templateId);
request.AllowDecline = false;
request.AddSigner("client", email, name, pin: pin);
request.Add

[2021-09-22 15:54] paaacman commented on #68
In the JSON custom_fields, with the SDK, we have `"required":null` in fields.
I remove null fields in the JSON content.

[2021-09-22 15:55] justinstanley commented on #68
Update from API support - "Thank you for reaching out and sorry to hear about the trouble. We've identified an issue where our release on 9/21 introduced a new error for custom_fields. We are working on a fix. I will continue to keep you updated."

https://status.hellosign.com/incidents/v511033g104w

[2021-09-22 16:35] aperlstein commented on #68
Should we just add this to editor and required on the CustomField model?

`[JsonProperty("editor", NullValueHandling=NullValueHandling.Ignore)]`

[2021-09-22 18:13] BHSPitMonkey commented on #68
This was indeed caused by server-side validation changes in yesterday's release; A fix was just deployed at 11:00AM Pacific Time (18:00 UTC). Sincere apologies for the inconvenience this bug has caused, and sincere thanks to everyone who provided reports here and via email (all of which were helpful in finding a resolution).

[2021-09-30 21:54] MichaelCrockerASG commented on #77
Is there an updated version of the HelloSign SDK that works with a later version of restsharp.  A security update requires us to upgrade.

[2021-10-26 02:47] RPM1984 commented on #20
@BHSPitMonkey hi there 👋 ! been a while since this issue was reported, so just checking in if this is now on the roadmap?

[2021-10-30 00:21] BHSPitMonkey commented on #20
@RPM1984 Unfortunately not at this time, but I've notified our product team of the request and we'll keep this in mind as a potential future improvement. Thanks for the feedback!

[2021-11-03 03:25] RPM1984 opened #110 "Add ability to allow setting proxy"
Hi there,

I'm trying to capture the outgoing HelloSign API calls from my .NET Core 3.1 app, but nothing is showing up in Fiddler.

This is because in order for RestSharp calls to show up in .NET Core apps, you need to explicitly set the `.Proxy`, like so:

[code]

Can i suggest we update the `Client` constructor to allow this (take in an optional `WebProxy` parameter)? As right now, it's basicall

[2021-11-29 06:27] RPM1984 opened #111 "Signature Request does not support Custom Fields"
The [PostSignatureRequest](https://github.com/hellosign/hellosign-dotnet-sdk/blob/v3/src/HelloSign/HelloSign.cs#L485) method does not appear to support custom fields, like the [template version](https://github.com/hellosign/hellosign-dotnet-sdk/blob/v3/src/HelloSign/HelloSign.cs#L657) does.

Both should support this, as per the [API documentation](https://app.hellosign.com/api/reference#send_embed

[2021-11-30 00:09] RPM1984 opened #112 "Form Field "signer" field should be string"
Hi there!

The "signer" field form form fields is currently set to `int`. See [here](https://github.com/hellosign/hellosign-dotnet-sdk/blob/v3/src/HelloSign/Models/FormField.cs#L33)

The problem is that the [API](https://app.hellosign.com/api/reference#send_embedded_signature_request) also allows us to set this as "sender" (a string) for text merge, which we currently cannot do.

From the docs:

S

[2021-11-30 21:47] andre-engelbrecht opened #113 "AllowDecline on TemplateSignatureRequest class is not translated into actual request (Status: Ready for Merge)"
## Problem description:
The `TemplateSignatureRequest` class has a boolean property for `AllowDecline`, but in the `CreateUnclaimedDraft` method, this property is not added to the actual request to HelloSign's API, and thus has no effect.

## Steps to reproduce:
Create a new (embedded) signature request using the `CreateUnclaimedDraft` method with AllowDecline = true. When you try to sign this req

[2021-12-14 05:05] erosiec commented on #112
Thanks @RPM1984 , we're looking into this now and will get back to you with an update as soon as possible.

In the meantime, you can workaround this by adding your form fields through the `Client.AdditionalParameters` Dictionary object.

For example:

                var request = new SignatureRequest();
                request.Title = "NDA with Acme Co.";
                request.Subject = "The ND

[2021-12-14 05:16] erosiec commented on #111
Thanks @RPM1984 , we're looking into this now and will get back to you with an update as soon as possible.

In the meantime, you can workaround this by adding custom fields through the `Client.AdditionalParameters` Dictionary object.

Here is an example from [README.md](https://github.com/hellosign/hellosign-dotnet-sdk#send-signature-request-using-files-and-text-tags-with-custom-fields-non-embedde

[2022-01-05 02:26] RPM1984 commented on #111
Thanks for the reply @erosiec ! Thanks, didn't know the `AdditionalParameters` existed. Will keep that in mind for this and future. Looking forward to having this lib updated! :)

[2022-02-04 21:37] d-thiele commented on #77
@janetanne - any chance you can provide an update on this now that RestSharp 107.x has been released for about a month? :-)

[2022-02-04 21:42] janetanne commented on #77
@d-thiele no, sorry! i don't work at hellosign anymore. i'm sure one of the new API support engineers can help. write in at: apisupport@hellosign.com. i would email your CSM if you have one because that will be faster.

[2022-02-16 17:00] Patman0021 commented on #95
So, it looks like 1.5.0 is available on nuget now.  Closing this issue.

[2022-02-16 17:00] #95 closed, assigned to nobody

[2022-02-16 22:47] aarifResaas commented on #95
Am I missing something?  I still only see v1.3.0.

https://www.nuget.org/packages/HelloSign/

[2022-02-18 00:24] Sora2455 commented on #77
Can I add that it's really disappointing that not even the SDK version released _this month_ supports the 106.5.4 version of RestSharp, as they've been claiming to do for at least 2 years now? I'm unable to use another dependency because of this, as it has 106.5.4 as it's _minimum_ supported version.

[2022-05-02 21:06] Patman0021 commented on #77
PR #116  looks like it should take care of this.  2 PRs were merged 4 days ago, maybe we can finally start getting attention again!
CC: @erkkinen

[2022-05-03 21:49] aarifResaas commented on #77
Well, almost.  Although PR #116 appears to support RestSharp 107.x and v1.5.2 is now available through the NuGet repository, the library is still referencing the old 106.5.4 RestSharp as the maximum dependency version.

`<PackageReference Include="RestSharp" Version="[106.0.0,106.5.4]" />`

[2022-05-04 18:22] summerlinryan opened #119 "Unable to find FormFields in Document field of Template"
We are using the embedded HelloSign workflow and we are using the dotnet sdk. We have the HelloSign webhook set up and we'd like to know when a template is created where we can find what form fields were present on the created template and more specifically, what signer role each form field is associated with. We see in the documentation that there appears to be a `form_fields` property inside of

[2022-07-02 13:28] aperlstein commented on #77
Can we get an update on this?

[2022-09-16 20:42] Dekryptid commented on #77
Is it possible to get an update on when we can expect to utilize a version that is **not** vulnerable?

[2022-09-16 22:07] collinWheeler commented on #77
The latest version of the SDK Github uses RestSharp 107. There are also two beta packages available on Github, `1.6` and `6.0.` Version `1.6` used RestSharp 107, and `6.0` will have its RestSharp version updated to 107 soon.

[2022-09-16 22:25] Dekryptid commented on #77
Thanks for the response @collinWheeler
To clarify, I was wondering when an updated NuGet package will be pushed. The 1.6 beta you mentioned, at least on NuGet, still has the nuspec restricted to restsharp 106.5.4 max.
![image](https://user-images.githubusercontent.com/6528118/190821246-d90bea7e-7e86-4901-b102-35e4d26b98e3.png)

[2022-10-25 10:36] jentrinanes opened #138 "Downloading a document does not work"
I tried following the code snippet in https://developers.hellosign.com/api/reference/operation/signatureRequestFiles/ to download the document but the sample code is not working.

[2022-11-21 16:39] jtreminio-dropbox commented on #138
Fixed by https://github.com/hellosign/hellosign-dotnet-sdk/pull/139

[2022-11-21 16:39] #138 closed, assigned to nobody